*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    margin: 0;
    padding: 1rem;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
  }


.projects{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project-link{
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 1rem;
    text-decoration: none;
    font-weight: bold;
}