
.canvas{
    margin: 100px auto;
    text-align: center;
}

span{
    display: block;
}

.button{
    height: 100px;
    width: 100px;
    border: solid black 2px;
    display: inline-block;
}

#gray{
    background: gray;
}
#purple{
    background: purple;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background: yellow;
}
#green{
    background: green;
}